.buyDetails{
  height: 500px;
  width: 700px;
  border-radius: 20px;
  margin: auto auto;
  margin-top: 50px;
}
.ptitle{
  font-size: 18px;
  font-weight: 800;
  margin: 20px 0px 0px 50px  ;
}
.products{
  display: flex;
  align-content: center;
}
.addressInputBox{
  width: 500px;
  height: 50px;
  border-radius: 10px;
  margin-top: 30px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.checkout{
  background-color: rgb(253, 248, 243);
  height: 50px;
  width: 100px;
  margin-top: 20px;
  margin-left: -10px;
  border-radius: 10px;
  color: black;
}
.notfoundImg{
  height: fit-content;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}
#warning{
  font-size: 25px;
  margin-top: 20px;
  color: rgb(175, 184, 192);
}