.loading{
  width: fit-content;
  margin: auto auto;
  margin-top: 220px;
}
.details{
  height : 450px;
  width :750px;
  display: flex;
  margin-left: 10px;
  margin-top: 10px;
  border: 1px solid black;
  border-radius: 10px;
}
.prodImage{
  height: 150px;
  width : 150px;
  margin-left: 10px;
  margin-top: 10px;

}
.prodTitle{
  font-weight: 800;
  font-size: 20px;
}
.addToCart , .buybtn{
  height: 40px;
  width: 120px;
  color: antiquewhite;
  border-radius: 8px;
  background-color : rgb(224, 147, 147);
}
.data{
  margin-left: 30px;
}
.buybtn{
  margin-left: 100px;
}