.titleProd{
  /* background-color: aqua; */
  color: black;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
            line-clamp: 2; 
    -webkit-box-orient: vertical;

}
.btns{
  display: flex;
  justify-content: space-between;
}
.buyBtn{
  height: 40px;
  width: 120px;
  color: antiquewhite;
  border-radius: 8px;
  background-color : rgb(208, 59, 59);
}